@font-face {
    font-display: swap; 
    font-family: 'Long Cang';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/LongCang-Regular.ttf') format('opentype');
}

@font-face {
    font-display: swap; 
    font-family: 'Nerco One';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/NerkoOne-Regular.ttf') format('opentype');
}

@font-face {
    font-display: swap; 
    font-family: 'Sawarabi Mincho';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/SawarabiMincho-Regular.ttf') format('opentype');
}
